<div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-yellow-50 via-orange-100 to-green-50 p-6">
  <div class="bg-white text-green-900 rounded-xl shadow-xl p-6 sm:p-10 max-w-lg w-full text-center">
    <h1 class="text-2xl font-bold text-orange-900">Contact Me</h1>
    <p class="text-green-800 mt-2">Feel free to reach out to me via the following channels:</p>

    <div class="mt-4">
      <p class="text-green-700"><strong>Phone :</strong> 
        <a href="tel:+1234567890" class="text-orange-700 hover:underline"> +91 7350129210</a>
      </p>
      <p class="text-green-700"><strong>Email :</strong> 
        <a href="mailto:your.email@example.com" class="text-orange-700 hover:underline"> kalpeshkishorlambade&#64;gmail.com</a>
      </p>
      <p class="text-green-700"><strong>LinkedIn :</strong> 
        <a href="https://www.linkedin.com/in/kalpesh-lambade?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="text-orange-700 hover:underline"> LinkedIn Profile</a>
      </p>
    </div>
  </div>
</div>
